.calculator {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 70px;
    font-family: "Courier New", monospace;
    border-style: solid;
    margin: 100px auto;
    width: 300px;
    background-color: rgb(44, 44, 77);
}

.calculator > * {
    display: flex;
    justify-content: center;
    width: 300px;
}

#display {
    padding: 10px;
    font-size: 50px;
    border-style: solid;
    margin: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: rgb(129, 202, 178);
}

button {
    font-size: 40px;
    padding: 10px;
    margin: 5px 10px;
    background-color: rgb(196, 196, 185);
}

.row2 {
    margin-left: -7px;
}

.operator {
    background-color:darkgoldenrod;
}

#clear {
    background-color: rgb(222, 97, 97);
    margin: auto 5px;
}

#equals {
    background-color: rgb(62, 131, 108);
}